//
// Genome Similarity Workflow Configuration
//
// This workflow runs mentalist for genome similarity analysis
// using compressed genome assemblies (*.medaka.fasta.gz).
//

params {
    help = false
    input = null
    out_dir = "output"
    project_name = "genome_similarity"
    monochrome_logs = false
    validate_params = true
    show_hidden_params = false
    schema_ignore_params = 'show_hidden_params,validate_params,monochrome_logs'
}


manifest {
    name            = 'biomlds/wf-genome-similarity'
    author          = 'Oxford Nanopore Technologies'
    homePage        = 'https://github.com/biomlds/wf-genome-similarity'
    description     = 'Genome similarity analysis using mentalist'
    mainScript      = 'main.nf'
    nextflowVersion = '>=23.04.2'
    version         = 'v1.0.0'
}


// Process configuration
process {
    withLabel:wftemplate {
        // No special container needed for preprocessing
    }
    withLabel:mentalist {
        container = "mentalist:ONT-1.0.0-withEnterobase"
    }
    shell = ['/bin/bash', '-euo', 'pipefail']
}


// Profiles
profiles {
    standard {
        podman {
            enabled = true
            runOptions = "--userns=keep-id --user \$(id -u):\$(id -g)"
        }
    }
    docker {
        docker {
            enabled = true
        }
    }
    podman {
        podman {
            enabled = true
            runOptions = "--userns=keep-id --user \$(id -u):\$(id -g)"
        }
    }
    singularity {
        singularity {
            enabled = true
            autoMounts = true
        }
    }
    local {
        process.executor = 'local'
    }
}


// Execution reports
timeline {
    enabled = true
    overwrite = true
    file = "${params.out_dir}/execution/timeline.html"
}
report {
    enabled = true
    overwrite = true
    file = "${params.out_dir}/execution/report.html"
}
trace {
    enabled = true
    overwrite = true
    file = "${params.out_dir}/execution/trace.txt"
}


env {
    PYTHONNOUSERSITE = 1
}
